body {
  background-color: rgb(236, 237, 242);
}

.header {
  background-color: white;
  padding-top: 24px;
  box-shadow: 0 8px 6px -6px #ccc;
  // .header__wrapper
  &__wrapper {
    font-family: 'Oswald', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px 24px 24px;
  }

  // .header__title

  &__title {
    font-size: 36px;
  }
  &__subtitle {
    padding-top: 12px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: light;
  }
  &__title b {
    color: #34dbce;
  }
  &__title, &__title b {
    font-family: inherit;
    font-weight: 600;
  }
}


.wrapper {
}
.converter {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
		// .converter__field

		&__field {
      background-color: #fff;
      border: 2px solid gray;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 25px;
      
		}

		// .converter__input

		&__input {
      outline: none;
      border: none;
      font-size: 18px;
		}

		// .converter__select

		&__select {
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      cursor: pointer;
      transition: .4s;
		}
    &__select:hover {
      opacity: .4;
      transition: .4s;
    }
    
}
.select-window::-webkit-scrollbar {
  display: none;
}

.select-window {
  max-height: 380px;
  scrollbar-width: none; 
  -ms-overflow-style: none;
  overflow-y: scroll;
  position: absolute;
  background-color: #fff;
  box-shadow: 0px 5px 5px -3px rgb(0 0 0 / 20%), 0px 8px 10px 1px rgb(0 0 0 / 14%), 0px 3px 14px 2px rgb(0 0 0 / 12%);
}

.select-window-item {
  font-size: 18px;
  font-family: 'Roboto';
  padding: 8px 8px;
}

.select-window-item:hover {
  background: rgba(grey, 0.15);
  cursor: pointer;
  transition: .5s;
}

.select-window-item:first-of-type {
  padding-top: 8px;
}

.select-window-item:last-of-type {
  padding-top: 8px;
}