.header {
  padding-top: 24px;
  box-shadow: 0 8px 6px -6px #ccc;
  // .header__wrapper
  &__wrapper {
    font-family: 'Oswald', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px 24px 24px;
  }

  // .header__title

  &__title {
    font-size: 36px;
  }
  &__subtitle {
    padding-top: 12px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: light;
  }
  &__title b {
    color: #34dbce;
  }
  &__title, &__title b {
    font-family: inherit;
    font-weight: 600;
  }
}

.main {
}
.wrapper {
}
.converter {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
		// .converter__field

		&__field {
      border: 2px solid gray;
      border-radius: 10px;
      padding: 10px;
      display: flex;
      align-items: center;
      gap: 25px;
      
		}

		// .converter__input

		&__input {
      outline: none;
      border: none;
		}

		// .converter__select

		&__select {
      font-family: 'Arial', sans-serif;
      font-size: 24px;
      cursor: pointer;
		}
}
