.header {
  padding-top: 24px;
  box-shadow: 0 8px 6px -6px #ccc;
  // .header__wrapper
  &__wrapper {
    font-family: 'Oswald', sans-serif;
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 24px 24px 24px;
  }

  // .header__title

  &__title {
    font-size: 36px;
  }
  &__subtitle {
    padding-top: 12px;
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    font-weight: light;
  }
  &__title b {
    color: #34dbce;
  }
  &__title, &__title b {
    font-family: inherit;
    font-weight: 600;
  }
}